.main.container {
    margin-top: 3em;
}

.right {
	text-align: right;
}

h2.ui.header {
	padding-bottom: 15px !important;
}

.menu.fixed {
	background: #7032e0 !important;
	/*color: white !important;*/
	/*background: #36d3cc !important; */
}

.active {
	border-color: #fab223 !important;
	/* border-color: #000000 !important; */ 
}

.button {
	background: #fab223 !important;
	/*background: #bbbbbb !important; */
	color: #a7791e !important;
}

.admin.content {
    padding-top: 3.571428em;
    width: 90%;
}

.ui.vertical.menu {
	background: rgba(112, 50, 224, 0) !important;
}

.pagination {
	background: #fab223 !important;
}
a {
	color: black !important;
}

.menu.fixed .item {
	color: white !important;
}
